[submodule "modules/CANopenNode"]
	path = modules/CANopenNode
	url = git@github.com:protronic/CANopenNode.git
[submodule "modules/berry"]
	path = modules/berry
	url = git@github.com:berry-lang/berry.git
	ignore = untracked
