[submodule "Middlewares/Third_Party/LVGL/lvgl"]
	path = Middlewares/Third_Party/LVGL/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Middlewares/CANopen/CANopenNode"]
	path = Middlewares/CANopen/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
